{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block extra_head %}
<style>
    .rounded{
        border-radius: 5rem!important;
        border: 2px solid black;
    }
</style>
{% endblock %}

{% block body %}
<br><br>
<div class="card" style="width: 50vw;">
    <img src="{{ image.url }}" class="rounded mx-auto d-block mt-3" alt="Profile Picture" width="150" height="150" id="ProfilePic">
    <label for="ProfilePic"><h5>Image</h5></label>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">First Name</dt>
            <dd class="col-sm-9">{{fname}}</dd>
            <dt class="col-sm-3">Last Name</dt>
            <dd class="col-sm-9">{{lname}}</dd>
            <dt class="col-sm-3">Username</dt>
            <dd class="col-sm-9">{{username}}</dd>
            <dt class="col-sm-3">email</dt>
            <dd class="col-sm-9">{{email}}</dd>
            <dt class="col-sm-3">User Type</dt>
            <dd class="col-sm-9">{{utype}}</dd>
        </dl>
    </div>
</div>
{% endblock%}