{% extends 'blog/base.html' %}
{% load widget_tweaks %}

{% block title %}Create Blog{% endblock %}

{% block body %}
<br>
<div class="card" style="width: 40vw;">
    <div class="card-header">
        <h3>Add Blog</h3>
    </div>
    <div class="card-body">
        <form action="add-blog" enctype="multipart/form-data" method="post">
            {% csrf_token %}
            <div class="form-floating my-3">
                {% render_field form.title type="text" class="form-control" id="floatingInput" placeholder="Title" %}
                <label for="floatingInput">Title</label>
            </div>
            <div class="input-group mb-3">
                <label class="input-group-text" for="inputGroupFile01">Image</label>
                {% render_field form.image type="image" type="file" class="form-control" id="inputGroupFile01" %}
            </div>
            <div class="form-floating mb-3">
                {% render_field form.category class="form-select" id="floatingSelect" %}
                <label for="floatingSelect">Categories</label>
            </div>
            <div class="form-floating mb-3">
                {% render_field form.summary class="form-control" placeholder="Summary" id="floatingTextarea" style="height: 70px" %}
                <label for="floatingTextarea">Summary</label>
            </div>
            <div class="form-floating mb-3">
                {% render_field form.content class="form-control" placeholder="Description" id="floatingTextarea1" style="height: 120px" %}
                <label for="floatingTextarea1">Description</label>
            </div>
            <div class="form-check form-switch text-start mb-3">
                {% render_field form.draft class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" %}
                <label class="form-check-label" for="flexSwitchCheckDefault">Save as Draft</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
{% endblock %}